/// $ae-list

@if $ae-form {

  .#{$ae}-form {

  }

  .#{$ae}-form--full {
    input:not([type='checkbox']):not([type='radio']),
    select,
    textarea,
    fieldset {
      display: block;
      margin-bottom: $ae-form-spacer;
      width: 100%;
    }

    label input { display: inline-block; }
  }

  .#{$ae}-form--sm {
    input,
    select,
    optgroup,
    textarea,
    fieldset,
    label {
      font-size: $ae-form-font-sm;
    }

    select { height: $ae-select-height-sm; }
  }

  .#{$ae}-form--lg {
    input,
    select,
    optgroup,
    textarea,
    fieldset,
    label {
      font-size: $ae-form-font-lg;
    }

    select { height: $ae-select-height-lg; }
  }

  .#{$ae}-input--sm { font-size: $ae-form-font-sm; }
  select.#{$ae}-input--sm { height: $ae-select-height-sm; }
  .#{$ae}-input--lg { font-size: $ae-form-font-lg; }
  select.#{$ae}-input--lg { height: $ae-select-height-lg; }

}
