// aurora-ui :: Defaults

/// Images
img {
  border: 0;
  height: auto;
  max-width: 100%;
}


/// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  vertical-align: bottom;
}

th,
td {
  line-height: inherit;
  padding: $ae-cell-padding;
}

td { 
  vertical-align: top;
  
  tfoot & {
    font-style: italic;
  }
}

caption {
  color: $ae-light-grey;
  font-size: 1rem;
  text-align: left;
}


/// Forms

input,
select,
optgroup,
textarea,
fieldset {
  color: inherit;
  font: inherit;
  font-size: $ae-form-font-size;
  margin: 0;

  &:disabled {
    opacity: .65;
    pointer-events: none;
  }
}

input[type='text'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'] {
  border: $ae-input-border-width solid $ae-input-border-color;
  line-height: $ae-input-line-height;
  padding: $ae-input-padding-y $ae-input-padding-x;
  vertical-align: middle;
}

label {
  padding-bottom: $ae-input-padding-y;
  padding-top: $ae-input-padding-y;
}

select {
  border-radius: 0;
  height: $ae-select-height;
  text-transform: none;
  vertical-align: middle;
  
  &[multiple],
  &[size] {
    border: $ae-input-border-width solid $ae-input-border-color;
    height: auto;
    padding: $ae-input-padding-y $ae-input-padding-x;
  }

}

fieldset {
  border: $ae-input-border-width solid $ae-input-border-color;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  border: $ae-input-border-width solid $ae-input-border-color;
  overflow: auto;
  padding: $ae-input-padding-y $ae-input-padding-x;
  vertical-align: top;
}
